################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreApplication/.vs/CoreApplication
/.vs/CoreApplication
/CoreApplication/obj
/CoreApplication/bin/Debug/net6.0
